
.social-media-icon-container {
  display: flex;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#instagram-icon {
  padding-left: 0px;
}

#facebook-icon {
  padding-right: 0px;
}



.sign-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sign-in-icon {
  width: 40px;
}

.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
#cart-icon {
  width: 40px;
  padding-right: 5px;
}





.header-top {
  display: flex;
  justify-content: space-between;
  background: #32466B;
  height: 75px;
}

#header-rhs {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
